/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

section{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
img{
  height: 300px;

}

.hidden{
  display: none;
}

